---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Sec1Filtering from "../components/Sec1filtering.astro";
import Card from "../components/Card.astro";
import Sec3Filtering from "../components/Sec3filtering.astro";
import Buttonfiltering from "../components/Buttonfiltering.astro";

const endpoint = "https://uigtgwaojslfwhlxfbfn.supabase.co/rest/v1/Dankort"
const key = "sb_publishable_DddfZPvMIKUo6VRZTKBaMg_KaVqL-hm"

const options={
   headers: 
   {apikey: key,
    Authorization: `Bearer ${key}`
   },
}

const data = await fetch(endpoint, options).then((responsive) => responsive.json());
console.log(data);
---


<Layout>
  <Sec1Filtering/>
<section id="filter">
   <h2 class="h2">Her har vi doneret til den danske natur</h2>
    <div class="buttons">
<div class="filter">
  <Buttonfiltering type="Alle" label="RYD FILTER" />
</div>
<div class="places">
  <Buttonfiltering type="Jylland" label="JYLLAND" />
  <Buttonfiltering type="Fyn" label="FYN" />
  <Buttonfiltering type="Lolland" label="LOLLAND" />
  <Buttonfiltering type="Falster" label="FALSTER" />
  <Buttonfiltering type="Bornholm" label="BORNHOLM" />
  <Buttonfiltering type="Sjælland" label="SJÆLLAND" />
</div>
  </div>
</section>

<section class="card">
  {data.map((Dankort) => <Card {Dankort} />)}
</section>

<Sec3Filtering/>
</Layout>

<style>
  section {
    margin-top: var(--M-);
    margin: 0 var(--S-);
  }

  p {
    margin-bottom: var(--S-);
  }

  h2 {
    max-width: 300px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--L-);
    margin-bottom: var(--S-);
  }

  .places {
    display: flex;
    flex-wrap: wrap;
    gap: var(--XS-);
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--XS-);
    margin-top: var(--XS-);
    margin-bottom: var(--S-);
  }

  @media (min-width: 800px) {
    section {
      margin: 0 120px;
    }

    .buttons {
      flex-direction: row;
      align-items: start;
      justify-content: start;
      white-space: nowrap;
    }

    h2 {
      max-width: 100%;
      margin-bottom: 0px
    }

    .card {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
</style>

<script>

    document.querySelectorAll("#filter button").forEach((button) => button.addEventListener("click", filtrer));

    // @ts-ignore
    function filtrer(e) {
        const cards = document.querySelectorAll("article");
        const valgtype = e.currentTarget.dataset.type;
        cards.forEach((card) => { console.log("card.dataset.type:", card.dataset.type);
          if (card.dataset.type == valgtype || valgtype == "Alle") {
            card.classList.remove("hide");

            } else { 
              card.classList.add("hide");
            }
    });
  }
</script>