---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Button_Filtering from "../components/Button_Filtering.astro";
import Sec1Filtering from "../components/Sec1filtering.astro";
import Sec3filtering from "../components/Sec3filtering.astro";
import Card from "../components/Card.astro";
import Sec3Filtering from "../components/Sec3filtering.astro";
const endpoint = "https://uigtgwaojslfwhlxfbfn.supabase.co/rest/v1/Dankort"
const key = "sb_publishable_DddfZPvMIKUo6VRZTKBaMg_KaVqL-hm"

const options={
   headers: 
   {apikey: key,
    Authorization: `Bearer ${key}`
   },
}

const data = await fetch(endpoint, options).then((responsive) => responsive.json());
console.log(data);
---


<Layout>
  <Sec1Filtering></Sec1Filtering>
  <h2 class="h2">Her har vi doneret til <br> den danske natur</h2>
  <div class="buttons">
    <Button_Filtering title="RYD FILTER" />
  <div class="places">
<Button_Filtering title="JYLLAND"></Button_Filtering>
<Button_Filtering title="FYN"></Button_Filtering>
<Button_Filtering title="LOLLAND"></Button_Filtering>
<Button_Filtering title="FALSTER"></Button_Filtering>
<Button_Filtering title="BORNHOLM"></Button_Filtering>
<Button_Filtering title="SJÆLLAND"></Button_Filtering>
</div>
</div>
<section class="card">
  {data.map((Dankort) => <Card {Dankort} />)}
</section>
<Sec3Filtering></Sec3Filtering>
</Layout>

<style>
p {
  margin-bottom: var(--S-);
}

.seestroke {
  display: flex;
  align-items: center;
justify-content: center;
margin-bottom: var(--S-);
}

.seemore {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 0.5rem;
}

  .card {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--S-);
    margin-bottom: var(--S-);
  }
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--XS-);
  margin-top: var(--XS-);
  margin-bottom: var(--S-);
}

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--XS-);
}


  @media (min-width: 800px) {
     .buttons {
    flex-direction: row;
    gap: var(--XXS-);
    flex-wrap: wrap;
    justify-content: start;
  }

  .filter {
  width: 100%;
  display: flex;
  justify-content: start;
}

  .card {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: var(--M-);
  }
  }
</style>