---
import { Image } from "astro:assets";
import butterfly from "../Image/butterfly_field.webp";


---


<section>
    <div class="flex_img_text">
    <Image src={butterfly} alt="Sommerfugl i græs" class="butterfly"/>
    <div class="flex_p_ul">
        <div>
        <h2 class="h2">Fordele</h2>
        <p class="p">Der er mange, som tror de betaler med Dankort på mobilen uden faktisk at gøre det. Kig efter Dankort logoet i din wallet - og tilføj dit Dankort hvis du endnu ikke har gjort det. <br>Der er nemlig flere fordele for dig og andre Danskere:</p>
        </div>
        <div>
            
        <ul class="p margin_left">
            <li>Danske virksomheder har nemlig lavere udgifter, når de modtager din betaling. Det gør fx. at de kan sætte prisen lavere.</li>
            <li>Dankort donerer i samarbejde med partnere penge hver gang du betaler, for at sikre vild og varig natur i Danmark.</li>
            <li>Du bliver ikke pålagt gebyrer når du betaler med Dankort.</li>
        </ul>
        
        </div>
    </div>
    </div>
    <div class="flex_bee-1">

   <img src="/assets/SVG/index_mobil/bi_traeer_index_mobil.svg" alt="illustration af bi" class="bee-1">
   <img src="/assets/SVG/index_mobil/bi_traeer_index_mobil.svg" alt="illustration af bi" class="bee-2">
   </div>
    </section>

<style>

     .flex_img_text {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            
        }

    .butterfly {
        border-radius: 20px;
        max-width: 100%;
        height: auto;

    }

    .bee_1 {
        width: 150px;
        display: block;
    }

    .bee-2 {
        display: none;
    }

    .flex_bee-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      
       

    }

    .flex_p_ul{
        display: flex;
        flex-direction: column;
        gap: var(--S-); 
    }

    .margin_left li{
        margin-left: 1rem;
       
        
    }

    section {
        margin-top: var(--M-);
        max-width: 100%;
    }

    @media (min-width: 800px) {
    
      
        .flex_img_text {
            display: flex;
            flex-direction: row;
            gap: 4rem;
            
        }

        .butterfly {
            max-width: 50%;
            height: auto;
            object-fit: cover;
        }

        .bee-1 {
            display: none;
        
        }

        .bee-2 {
            display: block;
            width: 300px;
        }

        

    }

        

       
    
    
</style>