---
const { Dankort } = Astro.props;
---

<article><h4 class="h4">{Dankort.place}</h4>
    <div class="img-place">
    <img src={Dankort.image} alt="naturområderne i Danmark" class="natureimg">
    <div class="overlay">
         <img src={Dankort.svg} alt="svg animation" class="svgimg">
    </div>
    <a href={Dankort.link} target="_blank">
      <button class="p">LÆS MERE</button></a>
    
    
</article>

<style>
    article{
       margin: 0 auto;
       position: relative;
    }

  button {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 5%;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 20px;
  color: var(--dankort-hvid);
  background: var(--dankort-roed);
  border: none;
  cursor: pointer;
  z-index: 4;
  white-space: nowrap;
    }

button:hover {
  background-color:#BD191C;
}

    h4 {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--dankort-hvid);
        margin: 1rem 1.2rem;
        z-index: 3;
    }

    .overlay {
    position: absolute;
    inset: 0;   /* Shortcut for setting all four sides top,right,bottom,left */
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 12%,
      rgba(30, 30, 30, 0.5) 22%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 2;
    }

    .overlay:hover {
        background: none;
    }
    
    .natureimg {
    border-radius: 20px;
    max-width: 293px;
    z-index: 1;
        }

        .svgimg {
            position: absolute;
            width: 100%;
            left: -1%;
            top: 13%;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .svgimg:hover {
            opacity: 1;
             animation: animateDash 2s linear forwards infinite;
        }

        @keyframes animateDash {
	0%,
	0%,
	0% {
		opacity: 0;
	}

	25%,
	75%,
    100% {
		opacity: 1;
	}
}

        

         @media (min-width: 800px) {
            .natureimg {
                max-width: 100%;
            }
button {
  left: 50%;
  bottom: 8%;
  font-weight: 700;
  padding: 15px 40px;
    }
        }

</style>