---
const { Dankort } = Astro.props;
---

<article><h4 class="h4">{Dankort.place}</h4>
    <img src={Dankort.image} alt="naturområderne i Danmark" class="natureimg">
    <div class="overlay">
         <img src={Dankort.svg} alt="svg animation" class="svgimg">
    </div>
    <a href={Dankort.link} target="_blank">
      <button class="p">LÆS MERE</button></a>
    
    
</article>

<style>
    article{
       margin: 0 auto;
       position: relative;
       display: inline-block;
    }

  button {
    display: flex;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 8%;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 20px;
  color: var(--dankort-hvid);
  background: var(--dankort-roed);
  border: none;
  cursor: pointer;
  z-index: 4;
  white-space: nowrap;
    }

button:hover {
  background-color:#BD191C;
}

    h4 {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--dankort-hvid);
        margin: 1rem 1.2rem;
        z-index: 3;
    }

    .overlay {
        display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0; /* Shortcut for setting all four sides top,right,bottom,left */
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 12%,
      rgba(30, 30, 30, 0.5) 22%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 2;
    }

    .overlay:hover {
        background: none;
    }
    
    .natureimg {
        display: block;
        width: 100%;
    border-radius: 20px;
    z-index: 1;
        }

        article .svgimg {
            width: 100%;
            align-items: center;
            opacity: 1;
            clip-path: inset(0 0 100% 0); 
            transition: clip-path 3s ease-in-out;
        }

         article:hover .svgimg {
             clip-path: inset(0 0 0% 0);
        }

        

         @media (min-width: 800px) {

            article {
                display: inline-block;
                margin: 0px;
            }
            
button {
  font-weight: 700;
  padding: 15px 40px;
    }
        }

</style>