---

---


<section class="faq-container">
    <div class="margin">
    <h3 class="faq-headline">FAQ</h3>

<details>
<summary class="p-sum">Hvorfor samarbejder I med Den Danske Naturfond?</summary>
<p class="p">Dankort ønsker at styrke den danske natur og bidrage til den kollektive naturgenopretning i hele Danmark. Til det formål er Den Danske Naturfond en velvalgt samarbejdspartner, da vores bidrag går ubeskåret til at sikre mere blivende natur i hele Danmark – øre for øre. </p>
</details>

<details>
<summary class="p-sum">Hvorfor donerer Dankort til naturen og ikke andre formål?</summary>
<p class="p">Der findes mange vigtige formål, som vi kunne have valgt at støtte med Dankort Øremærket. Vi har valgt, at det skal være den danske natur, fordi naturen er noget alle i Danmark er fælles om – både at nyde og at passe på. Men desværre ser vi, at den danske natur har det skidt og at dyr og planter forsvinder. I samarbejde med Den Danske Naturfond kan vi gøre noget konkret for naturen i Danmark, så både nuværende og kommende generationer kan nyde godt af den.  </p>
</details>

<details>
<summary class="p-sum">Hvem er Den Danske Naturfond?</summary>
<p class="p">Naturfonden køber, beskytter og genopretter natur i hele Danmark for at sikre unikke naturoplevelser og evigtvarende naturbeskyttelse. 

Den Danske Naturfond er en privat fond, som har flere end 23 naturområder, hvor alle kan nyde naturen året rundt. Naturfonden arbejder for at give alle bedre mulighed for at komme tæt på de dyr og planter, der gør dansk natur til noget særligt. 

<a href="https://naturfonden.dk/">Naturfonden</a> er stiftet i 2015. De er uafhængige og arbejder ikke for særlige interesser.  </p>
</details>


<details>
<summary class="p-sum">Støtter Dankort merforbrug ved donation ved brug af Dankort?</summary>
<p class="p">Nej, de ønsker ikke at opfordre til merforbrug. Deres andel i samarbejdet med Dankort er, at de modtager en øre, når du alligevel betaler med dit Dankort. Hele det bidrag omsætter de til mere vild natur i Danmark i naturområder, hvor alle kan opleve og nyde naturen året rundt. </p>
</details>


<details>
<summary class="p-sum">Opfordrer Dankort til merforbrug blandt forbrugerne?</summary>
<p class="p">Nej, vi ønsker ikke at invitere til merforbrug. Tvært imod ønsker vi, at mere forbrug i Danmark sker med omtanke og med hensyn til natur, klima og miljø. Initiativet handler om at vælge Dankort, når du alligevel betaler, hvis du ønsker et gratis og automatisk bidrag til mere vild natur i Danmark </p>
</details>


<details>
<summary class="p-sum">Koster det mig noget som forbruger?</summary>
<p class="p">Nej. Alle donationer sker gratis og automatisk for dig som kortholder.</p>
</details>

<details>
<summary class="p-sum">Så det er ikke mig selv, der donerer 1 øre, når jeg bruger mit Dankort?</summary>
<p class="p">Nej, det er ikke dine penge, der doneres. Det er Dankort, der donerer 1 øre pr. transaktion til Den Danske Naturfond. Det samme gør de partnervirksomheder, der er med i samarbejdet.</p>
</details>

<details>
<summary class="p-sum">Hvordan kan jeg undgå at støtte Den Danske Naturfond, når jeg betaler?</summary>
<p class="p">Dankort donerer automatisk til Naturfonden, når du vælger at betale med Dankort. Ønsker du ikke at bakke op om konceptet, kan du vælge at benytte en anden betalingsform end Dankort.</p>
</details>

<details>
<summary class="p-sum">Hvem betaler den ene øre som Dankort donerer?</summary>
<p class="p">Alle Dankorts pengebidrag til Naturfonden kommer fra Dankort selv, der er ejet af Nets/Nexi. Ønsker du som forbruger selv at bidrage med donationer, kan dette ske via Naturfondens hjemmeside: www.naturfonden.dk</p>
</details>

<details>
<summary class="p-sum">Må Dankort give penge væk?</summary>
<p class="p">Ja, Dankort er, såvel som andre private aktører, fri til at donere penge til almennyttige og velgørende formål. <p>
</details>

<details>
<summary class="p-sum">Hvordan donerer Dankorts partnere, når ejg betaler med Dankort?</summary>
<p class="p">Vores partnere donerer en ekstra øre oven i Dankorts ene øre, når du handler med Dankort i en partner-butik eller med et Dankort fra en partner-bank. Det vil sige, at der i alt kan doneres op til tre øre på en betaling med Dankort – gratis og automatisk for dig som kortholder. <p>
</details>

<details>
<summary class="p-sum">Hvor ligger den natur som Dankort støtter?</summary>
<p class="p">Den Danske Naturfonds naturområder ligger i hele Danmark. Fra Marielyst Enge på Falster til Grønnestrand ved Vesterhavet i Jammerbugten. Find naturområderne her www.naturfonden.dk/oplev-naturen.<p>
</details>

<details>
<summary class="p-sum">Hvorfor planter I ikke træer som del af samarbejdet?</summary>
<p class="p">Samarbejdet har fokus på at give danskere mulighed for at komme ud i naturen og få gode oplevelser her og nu og sikre mere plads til naturen. 

Når man planter træer, tager det meget lang tid, måske mere end 100 år, før skoven er gammel nok til at være levested for de dyr og planter, som hører til i en naturlig skov. 

Naturfonden vil gøre den størst mulige forskel for natur og biodiversitet. Det gør vi bedst ved at: </p>

<ul class="p ulstyling">
    
<li>Beskytte og forbedre eksisterende natur, </li>

<li>Genoprette tidligere tiders natur eller </li>

<li>Hjælpe nye træer på vej ved assisteret spredning af vilde træfrø eller sætte nye træplanter af en vild og ikke opdyrket art.  </li>
</ul>

<p class="p">Truede og sjældne dyr og planter har ikke tid til at vente så mange år, for så forsvinder de. Derfor arbejder de med forskellige metoder. <p>
</details>


<details>
<summary class="p-sum">Hvordan hjælper Naturfonden klimaet?</summary>
<p class="p">De gavner klimaet ved for eksempel at konvertere landbrugsjord til natur og udtage de såkaldte lavbundsjorde. Heldigvis er der også tit en positiv klimaeffekt i mange af de måder, vi hjælper naturen på. De genopretter for eksempel moser, og det har en øjeblikkelig og varig effekt på klimaet. Et eksempel i deres naturområde, Hals Mose i Nordjylland ved Limfjordens munding, hvor de sparer klimaet for 2300 tons CO2 hvert år. <p>
</details>

</div>

</section>


<style>
.faq-headline{
     color: var(--dankort-hvid);
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: var(--S-);
    }

    .p-sum {
        color: var(--dankort-sort);
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 600;
    }

    details[open]::details-content{

        padding: var(--S-) 0;
    }

    .ulstyling {
        padding: var(--S-) var(--M-);
        
    
    }


    .faq-container {
        display: block;
        background-color: var(--dankort-blaa-faq);
        border-radius: var(--S-) var(--S-) 0 0;
        padding: var(--L-) 0;
        
    }

    details {
        background-color: var(--dankort-hvid);
        padding: var(--S-);
        margin-bottom: var(--M-);
        border-radius: var(--S-);
        
    }

    .margin {
        margin: 0 var(--S-);
    }

     @media (min-width: 800px) {
        .margin {
            margin: 0 var(--XXL-);
        }
     }
    
</style>