---

---


<section class="faq-container">
    <div class="margin">
    <h3 class="faq-headline">Ofte stillede spørgsmål</h3>

<details name="accordion">
<summary class="p-sum">Hvorfor samarbejder I med Den Danske Naturfond?</summary>
<p class="p">Dankort ønsker at styrke den danske natur og bidrage til den kollektive naturgenopretning i hele Danmark. Til det formål er Den Danske Naturfond en velvalgt samarbejdspartner, da vores bidrag går ubeskåret til at sikre mere blivende natur i hele Danmark – øre for øre. </p>
</details>

<details name="accordion">
<summary class="p-sum">Hvorfor donerer Dankort til naturen og ikke andre formål?</summary>
<p class="p">Der findes mange vigtige formål, som vi kunne have valgt at støtte med Dankort Øremærket. Vi har valgt, at det skal være den danske natur, fordi naturen er noget alle i Danmark er fælles om – både at nyde og at passe på. Men desværre ser vi, at den danske natur har det skidt og at dyr og planter forsvinder. I samarbejde med Den Danske Naturfond kan vi gøre noget konkret for naturen i Danmark, så både nuværende og kommende generationer kan nyde godt af den.  </p>
</details>

<details>
<summary class="p-sum">Hvem er Den Danske Naturfond?</summary>
<p class="p">Naturfonden køber, beskytter og genopretter natur i hele Danmark for at sikre unikke naturoplevelser og evigtvarende naturbeskyttelse. 

Den Danske Naturfond er en privat fond, som har flere end 23 naturområder, hvor alle kan nyde naturen året rundt. Naturfonden arbejder for at give alle bedre mulighed for at komme tæt på de dyr og planter, der gør dansk natur til noget særligt. 

<a href="https://naturfonden.dk/">Naturfonden</a> er stiftet i 2015. De er uafhængige og arbejder ikke for særlige interesser.  </p>
</details>


<details name="accordion">
<summary class="p-sum">Støtter Dankort merforbrug ved donation ved brug af Dankort?</summary>
<p class="p">Nej, de ønsker ikke at opfordre til merforbrug. Deres andel i samarbejdet med Dankort er, at de modtager en øre, når du alligevel betaler med dit Dankort. Hele det bidrag omsætter de til mere vild natur i Danmark i naturområder, hvor alle kan opleve og nyde naturen året rundt. </p>
</details>


<details name="accordion">
<summary class="p-sum">Opfordrer Dankort til merforbrug blandt forbrugerne?</summary>
<p class="p">Nej, vi ønsker ikke at invitere til merforbrug. Tvært imod ønsker vi, at mere forbrug i Danmark sker med omtanke og med hensyn til natur, klima og miljø. Initiativet handler om at vælge Dankort, når du alligevel betaler, hvis du ønsker et gratis og automatisk bidrag til mere vild natur i Danmark </p>
</details>


<details name="accordion">
<summary class="p-sum">Koster det mig noget som forbruger?</summary>
<p class="p">Nej. Alle donationer sker gratis og automatisk for dig som kortholder.</p>
</details>

<details name="accordion">
<summary class="p-sum">Så det er ikke mig selv, der donerer 1 øre, når jeg bruger mit Dankort?</summary>
<p class="p">Nej, det er ikke dine penge, der doneres. Det er Dankort, der donerer 1 øre pr. transaktion til Den Danske Naturfond. Det samme gør de partnervirksomheder, der er med i samarbejdet.</p>
</details>

<details name="accordion">
<summary class="p-sum">Hvordan kan jeg undgå at støtte Den Danske Naturfond, når jeg betaler?</summary>
<p class="p">Dankort donerer automatisk til Naturfonden, når du vælger at betale med Dankort. Ønsker du ikke at bakke op om konceptet, kan du vælge at benytte en anden betalingsform end Dankort.</p>
</details>

<details name="accordion">
<summary class="p-sum">Hvem betaler den ene øre som Dankort donerer?</summary>
<p class="p">Alle Dankorts pengebidrag til Naturfonden kommer fra Dankort selv, der er ejet af Nets/Nexi. Ønsker du som forbruger selv at bidrage med donationer, kan dette ske via Naturfondens hjemmeside: www.naturfonden.dk</p>
</details>

<details name="accordion">
<summary class="p-sum">Må Dankort give penge væk?</summary>
<p class="p">Ja, Dankort er, såvel som andre private aktører, fri til at donere penge til almennyttige og velgørende formål. <p>
</details>

<details name="accordion">
<summary class="p-sum">Hvordan donerer Dankorts partnere, når jeg betaler med Dankort?</summary>
<p class="p">Vores partnere donerer en ekstra øre oven i Dankorts ene øre, når du handler med Dankort i en partner-butik eller med et Dankort fra en partner-bank. Det vil sige, at der i alt kan doneres op til tre øre på en betaling med Dankort – gratis og automatisk for dig som kortholder. <p>
</details>

<details name="accordion">
<summary class="p-sum">Hvor ligger den natur som Dankort støtter?</summary>
<p class="p">Den Danske Naturfonds naturområder ligger i hele Danmark. Fra Marielyst Enge på Falster til Grønnestrand ved Vesterhavet i Jammerbugten. Find naturområderne her www.naturfonden.dk/oplev-naturen.<p>
</details>

<details name="accordion">
<summary class="p-sum">Hvorfor planter I ikke træer som del af samarbejdet?</summary>
<p class="p">Samarbejdet har fokus på at give danskere mulighed for at komme ud i naturen og få gode oplevelser her og nu og sikre mere plads til naturen. 

Når man planter træer, tager det meget lang tid, måske mere end 100 år, før skoven er gammel nok til at være levested for de dyr og planter, som hører til i en naturlig skov. 

Naturfonden vil gøre den størst mulige forskel for natur og biodiversitet. Det gør vi bedst ved at: </p>

<ul class="p ulstyling">
    
<li>Beskytte og forbedre eksisterende natur, </li>

<li>Genoprette tidligere tiders natur eller </li>

<li>Hjælpe nye træer på vej ved assisteret spredning af vilde træfrø eller sætte nye træplanter af en vild og ikke opdyrket art.  </li>
</ul>

<p class="p">Truede og sjældne dyr og planter har ikke tid til at vente så mange år, for så forsvinder de. Derfor arbejder de med forskellige metoder. <p>
</details>


<details name="accordion">
<summary class="p-sum">Hvordan hjælper Naturfonden klimaet?</summary>
<p class="p">De gavner klimaet ved for eksempel at konvertere landbrugsjord til natur og udtage de såkaldte lavbundsjorde. Heldigvis er der også tit en positiv klimaeffekt i mange af de måder, vi hjælper naturen på. De genopretter for eksempel moser, og det har en øjeblikkelig og varig effekt på klimaet. Et eksempel i deres naturområde, Hals Mose i Nordjylland ved Limfjordens munding, hvor de sparer klimaet for 2300 tons CO2 hvert år. <p>
</details>

<details name="accordion">
<summary class="p-sum">Hvad er biodiversitet overhovedet?</summary>
<p class="p">Biodiversitet er alle de forskellige levende væsener, der lever vildt og naturligt på land og i vand. Det er de mange forskellige slags arter vilde dyr, planter, svampe, mosser, laver og alle andre levende væsener i naturen. Det er alt fra egern, svane og humlebi til sommerfugl og orkidéer. 

Vi ønsker mere af det hele. Flere og mange forskellige dyr og planter. Og frie muligheder for at udfolde sig i store omgivelser, der understøtter dyrs fødekæder og vildt liv planteliv og deres gensidig afhængighed af hinanden. 

Naturen har brug for tre ting:</p>  

<ul class="p ulstyling">
    <li>Plads – store sammenhængende områder, hvor dyr og planter har mulighed for at udfolde sig. Og mennesker får store naturoplevelser. </li>
    <li>Prioritet – naturen er der på naturens præmisser. Naturområder skal ikke tage hensyn og dele pladsen med andre ting som f.eks. landbrug eller veje/byer. </li>
    <li>Tid – naturen skal være der over lang tid. Vi skal være tålmodige og give naturen tid at udfolde sig. Den kan nemlig godt selv og er et perfekt økosystem, når vi giver den lov. </li>
</ul>


<p class="p">
Jo flere slags naturlige levesteder, vi kan give de vilde arter, jo mere hjælper vi beboerne med at overleve som art og i antal.  

Læs mere om biodiversitet i Danmark her Biodiversitet i Danmark | Sådan løser vi biodiversitetskrisen : Naturfonden </p>

</details>



<details name="accordion">
<summary class="p-sum">Hvad laver Naturfonden i naturområderne?</summary>
<p class="p">Naturfonden sikrer naturen mere plads. De beskytter natur, der allerede er god, og genopretter andre områder med flere og bedre levesteder til vilde dyr og planter. 

Genopretning af naturen kan blandt andet være, at de: </p>

<ul class="p ulstyling">
    <li>Lader vand flyde frit (uden dræn) og genskaber den naturlige vandstand, hvor der f.eks. oprindeligt var mose, kær eller eng, før vi mennesker drænede jorden. Det har de gjort i flere af deres naturområder, blandt andet i Hals Mose, Kollund Skov, Marielyst Enge og på Mandø. Vand er liv og levested for et væld af forskellige arter. </li>
    <li>Erstatter invasive planter ogikke hjemmehørende nåletræ med god, naturlig løvskov. Der kommer mere variation og lys og flere levesteder til flere dyr, planer og svampe. Det har vi blandt andet gjort i Hammer Bakker (nord for Aalborg), Hals Mose (ved Limfjordens munding) og Bøtøskoven (ved Marienlyst sommerhusområde). </li>
    <li>Forvandler tidligere dyrkede marker til blomsterenge, overdrev og hede, hvor vilde planter igen kan vokse frit. Det betyder samtidigt, at vilde bier, sjældne sommerfugle og andre insekter får flere steder at finde føde. Det har de gjort i Læsten Bakker, Mols Bjerge og i Hammer Bakker (nord for Aalborg). </li>
</ul>

Lader løvtræer vokse sig så gamle, de kan i stedet for at fælde dem, som man gør i langt de fleste skove i Danmark. Der mangler urørt skov. De har indtil videre sikret urørt skov i otte naturområder. 
</details>

<details name="accordion">
<summary class="p-sum">Hvorfor er der heste og dyr på nogle af Naturfondens naturområder?</summary>
<p class="p">Græssende dyr som heste og kvæg giver en mere mangfoldig og rigere natur. Mange dyr og planter i den danske natur er afhængige af afgræsning. Sker det ikke, forsvinder deres levesteder.</p>

<p class="p">Læs mere om heste og kvæg på Naturfondens arealer her: <a href="https://naturfonden.dk/om-fonden/svaromdyr/">Spørgsmål og svar, FAQ, om dyr - Naturfonden : Naturfonden</a></p>
</details>

<details name="accordion">
<summary class="p-sum">Har Naturfonden dyr bag hegn?</summary>
<p class="p">Naturfonden har både naturområder med heste og kvæg i indhegninger og naturområder uden. Det gælder for eksempel de urørte skove Kollund Skov, Kraruplund og Frejlev Skov, som er uden hegn.</p>

<p class="p">Læs mere om heste og kvæg på Naturfondens arealer her: <a href="https://naturfonden.dk/om-fonden/svaromdyr/">Spørgsmål og svar, FAQ, om dyr - Naturfonden : Naturfonden</a></p>
</details>

<details name="accordion">
<summary class="p-sum">Hvordan sikrer Naturfonden, at dyrene har det godt?</summary>
<p class="p">Ingen dyr skal sulte eller vanrøgtes i Naturfondens naturområder med græssende dyr. Der skal føres tilsyn med dyrene, sådan som reglerne i lovgivningen foreskriver, og anbefalingerne fra de dyrlæger, der fører tilsyn, skal følges. Naturfonden ejer dog ikke selv dyr. Det gør den kommune, nationalpark eller lokale dyreholder, som de indgår aftaler med om dyr til afgræsning. Aftalerne kræver, at dyreværnslovgivningen overholdes, ligesom alle andre love og regler skal overholdes.</p>

<p class="p">Læs mere om heste og kvæg på Naturfondens arealer her: <a href="https://naturfonden.dk/om-fonden/svaromdyr/">Spørgsmål og svar, FAQ, om dyr - Naturfonden : Naturfonden</a></p>
</details>

<details name="accordion">
<summary class="p-sum">Er Dankort det billigste betalingsmiddel for butikkerne?</summary>
<p class="p">For langt de fleste butikker i Danmark er det billigere for dem, når deres kunder betaler med Dankort fremfor med andre kort. Det er det, fordi gebyret på Dankort oftest er lavere. Priserne på Dankort i fysisk handel er desuden reguleret ved lov og godkendes af Konkurrencestyrelsen. </p>
</details>

</div>
</section>


<style>

   
/* 
details[open] > summary {
  list-style-image: url(/assets/SVG/index_mobil/arrowup.svg);
}

 summary {
        cursor: pointer;
        list-style-image: url(/assets/SVG/index_mobil/arrowdown.svg);
        list-style-position: outside;
        margin-left: 30px;
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
    
  
} */
    

summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px var(--XS-);
    border-radius: 5px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::marker {
    display: none;
}

summary::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(/assets/SVG/index_mobil/arrowdown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

details[open] summary::after {
    background-image: url(/assets/SVG/index_mobil/arrowup.svg);
}
  



.faq-headline{
     color: var(--dankort-hvid);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: var(--S-);
    }

    .p-sum {
        color: var(--dankort-sort);
        font-size: 16px;
        font-weight: 600;
    }

    details[open]::details-content{

        padding: var(--M-) var(--XS-);
    }

    .ulstyling {
        padding: var(--S-) var(--M-);
        
    
    }


    .faq-container {
        display: block;
        background-color: var(--dankort-blaa-faq);
        border-radius: var(--S-) var(--S-) 0 0;
        padding: var(--L-) 0;
        
    }

    details {
        background-color: var(--dankort-hvid);
        padding: var(--S-);
        margin-bottom: var(--M-);
        border-radius: var(--S-);
        
    }

    .margin {
        margin: 0 var(--S-);
    }

     @media (min-width: 800px) {
        .margin {
            margin: 0 var(--XXL-);
        }
     }
    
</style>