---
import { Image } from "astro:assets";
import sunrise from "../Image/sunrise.webp";
---


<section>
    <div class="flex_h2_carousel">
    <h2 class="h2">Sådan får du Dankort på din telefon</h2>
    <div class="grid_carousel_illustation">
    <div class="carousel_container">
        <Image src={sunrise} alt="placeholder billede" class="guide_graphic"/>
        <Image src={sunrise} alt="placeholder billede" class="guide_graphic"/>
        <Image src={sunrise} alt="placeholder billede" class="guide_graphic"/>
    </div>
    <img src="/assets/SVG/index_mobil/to_traeer_index_mobil.svg" alt="illustration af to træer" class="treesmobile">
    <img src="/assets/SVG/index_desktop/to_traeer_index_desktop.svg" alt="illustration af træer" class="treesdesktop">
    </div>
</div>
</section>

<style>

    section {
        margin-top: var(--M-);
         margin: 0 var(--S-);
         max-width: 1200px;
         margin-bottom: var(--XXL-);
    }

    .flex_h2_carousel {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .carousel_container {
        /* display: flex;
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 1rem; */

        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        overflow-x: auto;
        gap: 2rem;
        scroll-snap-type: x mandatory;
    }

    .carousel_container::-webkit-scrollbar { 
        display: none;
    }

    .treesmobile {
    display: block;
   
    margin-left: auto;
    }

.treesdesktop {
    display: none;
}


.guide_graphic {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

 @media (min-width: 800px) {

     section {
    margin: 0 120px;
  }

    .grid_carousel_illustation {
        display: grid;
        grid-template-columns: 5fr 1fr;
        gap: 2rem;
    }

    .treesmobile {
        display: none;
    }

    .treesdesktop {
        display: flex;
        flex-direction: row;
        align-self: end;
        margin-bottom: 1rem;
        max-width: 130px;
        height: auto;
        
    }

 }
</style>