---
//@ts-nocheck
---

<header>
  <div class="marginheader">
    <div class="logo-wrapper">
      <a href="/">
        <img
          class="dklogo"
          src="/assets/dk_logo_header.svg"
          alt="dankort logo header"
        />
      </a>
      <img class="maerketimg" src="/assets/maerket.svg" alt="øremærket logo" />
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/counting">Følg donationstælleren live</a></li>
        <li><a href="/filtering">Områder vi donerer til</a></li>
        <li><a href="/physicalcard">Se de nye Øremærket Dankort</a></li>
      </ul>
      <button aria-label="Navigation" class="burger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
    </nav>
  </div>
</header>

<style>
  /*---------------- HEADER ----------------*/

  header {
    position: sticky;
    top: 0;
    z-index: 100;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 15px 0;
    background-color: var(--bg-base);
    border-bottom: 2.5px solid var(--dankort_graa_var3);
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo-wrapper img {
    display: block;
  }

  .logo-wrapper .dklogo {
    height: 50px;
    width: auto;
  }

  .logo-wrapper .maerketimg {
    height: var(--M-);
  }
  /* .logo-wrapper svg * {
    fill: var(--bg-base);
  } */

  /* nav {
    display: flex;
    align-items: center;
  } */

  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    /* margin-right: 20px; */
    text-align: end;
    padding-bottom: var(--XXS-);
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    font-family: "Raleway Variable";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* display: block; */
    padding: 10px;
    color: var(--dankort-sort);
    text-decoration: none;
    transition: color 0.3s;
    /* text-align: end; */
  }

  .menu a:hover {
    color: var(--dankort-roed);
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: 0;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--dankort-sort);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--bg-base);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 var(--XS-) var(--XS-) rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: var(--XS-);
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  /* .burger {
    display: none;
  } */

  .marginheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--S-);
  }

  @media (min-width: 800px) {
    .marginheader {
      margin: 0 var(--XXL-);
    }
    .menu a {
      margin: 0 var(--XXL-);
    }

    .menu li {
      padding-bottom: var(--S-);
    }
  }
</style>

<script>
  
  //@ts-nocheck
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");

  burger.addEventListener("click", burgerClick);
  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }

  class Login extends HTMLElement {
  constructor() {
    super();
    this.attachShadow({
      mode: "open",
    }); //apparently slots only work with the shadow dom?
  }
  connectedCallback() {
    this.html = `<style>
      /****** LOGIN MODAL ******/
      #login-modal {
          background:black;
          position:fixed;
          width:100vw;
          height:100vh;
      }
      .loginmodal-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #F7F7F7;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif;
      }
      .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
      }
      .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
      }
      input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
      }
      input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      }
      .loginmodal {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
      }
      .loginmodal-submit {
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1); 
        background-color: #4d90fe;
        padding: 17px 0px;
        font-size: 14px;
      }
      .loginmodal-submit:hover {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
      }
    </style>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login</h1><br>
          <p>This is a school project</p>
          <p>The password is <code>ek</code></p>
          <form>
            <input type="password" name="pass" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
        </div>
      </div>
    </div>`;
    this.render();

    this.shadowRoot.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      if (this.shadowRoot.querySelector("input[name=pass]").value === "ek") {
        document.querySelector("#totally-delete-me").remove();
        localStorage.setItem("iform-totally-logged-in", true);
      }
    });
  }
  render() {
    this.shadowRoot.innerHTML = this.html;
  }
}
customElements.define("iform-login", Login);
window.addEventListener("load", () => {
  if (!localStorage.getItem("iform-totally-logged-in")) {
    const div = document.createElement("div");
    div.id = "totally-delete-me";
    div.style.width = "100vw";
    div.style.height = "100vh";
    div.style.position = "fixed";
    div.style.zIndex = "9999";

    div.innerHTML = "<iform-login />";
    document.body.prepend(div);
  }
});
</script>
