---
//@ts-nocheck
import Button from "../components/Button.astro";
---
    
   
<div class="no_widows">

<section class="section_1">
<div>
  <h2 class="h2">
    Se de nye Dankort <br> Øremærket designs 
  </h2>

 </div>
  <div class="imgOgBi">

    <img class="bi_mobil"
      src="/assets/SVG/fysisk_kort_mobil/bi_fysiskkort_mobil.svg"
      alt="bi"
    />
     <!-- <img class="bi_desktop"
      src="/assets/SVG/fysisk_kort_desktop/bi_fysiskkort_desktop.svg"
      alt="bi"
    /> -->

    <img class="cardfane"
      src="/assets/img/dankort/cardfane.webp"
      alt="dankort med nyt design"
    />

  </div>

  <div class="p">
    
<p class="p">

Når du har et Dankort kan du vælge at skifte til et af vores designs, så det bliver lettere at genkende, når du skal finde det frem - ligemeget om det er digitalt eller fysisk.
  <br><br>

På den måde ved du, at du har fået fat i det rigtige kort og at du er med til at sørge for at vi støtter naturen endnu mere.
</p>
  </div>

<div class="knap">

  <a href="/physicalcard">
<Button title="LÆS MERE"></Button>
</a>
</div>  

</section>
</div>



<style>

.bi_desktop {
    display: none;
}
h2 {
  text-wrap: block;
}

p, li {
  text-wrap: pretty;
}

/* no widows */
.section_1 {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "text";
}

.h2 {
  grid-area: title;
}

.imgOgBi {
  grid-area: image;
  margin-top: var(--L-);
    position: relative;
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--XL-);
}

.p {
  grid-area: text;
}


.guidetekst {
  padding-left: 22px;
}


.bi_mobil {
  display: block;
  margin: var(--S-);
  width: 80%;
}

.graes {
    display: none;
}


li{

    margin-bottom: 30px;
}

/* SVG bagved */
.imgOgBi img:first-child {
  position: absolute;
  width: 100%;
  z-index: 1;

}

/* Webp foran */
.imgOgBi img:last-child {
  width: 70%;
  z-index: 2;
}




.greas {
  display: none;
}
.knap {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 24px;
  margin-top: var(--L-);
  margin-bottom: 70px;
}

.knap img {
  width: 50px;
  height: auto;
}

section {
  margin: 0 var(--S-)
}



/* -------- desktop ----------------- */


@media (min-width: 800px) {

.knap {
        margin-top: 30px;
    }

  section {
    margin: 0 120px; 
  }
  
  .graes {
    display: block;
  }

.bi_mobil {
    display: none;
  }
  .bi {
  width: 100%;
}

 
  /* ---------- SECTION 1 ---------- */





/* VENSTRE SIDE */


  .section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: none;
    column-gap: var(--S-);
    align-items: start;
    max-width: 1200px;
  }


.section_1 .h2 {
 grid-column: 2;
 grid-row: 1;
}

.section_1 .p {
  grid-column: 2;
  grid-row: 2;
  max-width: 600px;
}

/* HØJRE SIDE */

.imgOgBi {
  grid-column: 1;
  grid-row: 1 / span 3;
  position: relative;
  width: 110%;
  height: 200px;
  rotate: -20deg;
}
.bi_desktop {
     display: block;
    transform: translateY(290px) scaleX(-1);  /* ← much smaller value */
    rotate: -20deg;
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 110%;
}

.cardfane{
  rotate: 20deg;

} 
}
    
</style>

