---
import Button from "../components/Button.astro";
---


    <div class="no_widows">
<section class="section_1">
<div>
  <h1 class="h1">
    Et Dankort der er til <br> at få øje på
  </h1>
  
 <h3 class="h3">Et nyt dankortdesign,<br> fysisk og digitalt</h3>
 </div>
  <div class="imgOgBi">

    <img class="bi_mobil"
      src="/assets/SVG/fysisk_kort_mobil/bi_fysiskkort_mobil.svg"
      alt="bi"
    />
     <img class="bi_desktop"
      src="/assets/SVG/fysisk_kort_desktop/bi_fysiskkort_desktop.svg"
      alt="bi"
    />

    <img class="cardfane"
      src="/assets/img/dankort/cardfane.webp"
      alt="dankort med nyt design"
    />

  </div>

  <div class="p">
    
<p class="p">
  Hvis alle kort ser ens ud kan det være svært at kende forskel.
  <br><br>

  Derfor har vi i samarbejde med lokale kunstnere, fotografer og
  grafiske designere lavet et vildere kort til dig, der skal gøre
  det nemmere at genkende og vælge dit Dankort når du handler i
  Danmark.
  <br><br>

  For at vælge design på dit fysiske kort, skal du kontakte din bank
  og nedenfor kan du se hvordan du skifter til dit yndlingsdesign i
  din digitale wallet.
</p>
  </div>

  <div class="graes">
    <img
      src="/assets/SVG/fysisk_kort_desktop/graes_fysiskkort_desktop.svg"
      alt="håndtegnet græs"
    >
  </div>

</section>
</div>

<section class="section2">
      <img
    src="/assets/img/dankort/card1.webp"
    alt="hånd betaler med Dankort"
  />

      <img
    src="/assets/img/dankort/card2.webp"
    alt="Dankort med regnbue billede"
  />

  <img
    src="/assets/img/dankort/card3.webp"
    alt="Dankort med regnbue billede"
  />

</section>

<section class="section3">
    <h2 class="h2">Tilføj design i wallet</h2>
    <div class="guidetekst">
<ol class="p">

  <li>
    Åbn din digitale wallet og vælg det kort,
    du vil ændre udseendet på.
  </li>

  <li>
    Tryk på kortets indstillinger og vælg
    “Tilpas design” eller “Skift udseende”.
    Her kan du ændre farver, vælge mellem
    de forskellige kort.
  </li>

  <li>
    Når du er tilfreds med designet, trykker
    du blot på “Gem” — så bliver dit nye
    kortdesign opdateret med det samme i
    din wallet.
  </li>
</ol>
  <p class="p">
  Se hvordan du får dit Dankort på mobilen her:
</p>

</ol>
</div>


<div class="knap_raev">
       <Button title="SE GUIDE HER"></Button>
<img class="raev"
    src="/assets/SVG/fysisk_kort_mobil/raev_fysiskkort_desktop.svg"
    alt="håndtegnet ræv"
  />
  </div>
<div class="frameAndImg">

  <img
    class="frame"
    src="/assets/SVG/fysisk_kort_mobil/frame_fysiskkort_mobil.svg"
    alt="ramme"
  />

  <img
    class="applepay"
    src="/assets/img/dankort/applepay.webp"
    alt="Applepay"
  />

</div>

</section>
</div>
    


<style>


/* /----- Mobil ----/ */


/* no widows */

h1, h2 {
  text-wrap: balance;
}

p, li {
  text-wrap: pretty;
}
/* no widows */


.section_1 {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "text";
}

.h1 {
  grid-area: title;
}

.imgOgBi {
  grid-area: image;
}

.p {
  grid-area: text;
}




.guidetekst {
  padding-left: 22px;
}


.bi_mobil {
  display: block;
  margin: var(--S-) auto;
  width: 80%;

}

.graes {
    display: none;
}

.bi_desktop {
  display: none;
  transform: translateY(90px);
  rotate: 20deg;
}


li{

    margin-bottom: 30px;
}


.raev {
  width: 0px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.raev {
  width: 60px;
  transform: translateY(20px);
}


.frameAndImg {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  margin-top: 40px;
}

/* Frame bagved */
.frame {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Applepay foran */
.applepay {
 position: relative;
  width: 250px;
  top: 46%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2 img {
  width: 290px;
  display: block;
  margin: 0 auto;
}

.imgOgBi {
  position: relative;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG bagved */
.imgOgBi img:first-child {
  position: absolute;
  width: 100;
  z-index: 1;

}

/* Webp foran */
.imgOgBi img:last-child {
  position: absolute;
  width: 70%;
  z-index: 2;
  transform: translate(20px, 20px);
}


.section2{
margin-bottom:var(--L-) ; 
margin-top: var(--L-);
}

.greas {
  display: none;
}
.knap_raev {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 24px;
  margin-top: var(--L-);
  margin-bottom: 70px;
}

.knap_raev img {
  width: 50px;
  height: auto;
}

section {
  margin: 0 var(--S-);
}



/* -------- desktop ----------------- */


@media (min-width: 1024px) {

  section {
    margin: 0 var(--XXL-);  
  }
  
  .graes {
    display: block;
  }

.bi_mobil {
    display: none;
  }
.bi_desktop {
    display: block;

  }
  .bi {
  width: clamp(
    100px,
    25vw,
    600px
  ); 

  height: auto;
}

  /* ---------- KORT SECTION ---------- */

  .section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-top: var(--M-);
  }

  .section2 img {
    width: 100%;
    display: block;
  }

  /* ---------- APPLE PAY SECTION ---------- */

  .section3 {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-areas:
      "image title"
      "image text"
      "image button";

    column-gap: 50px;
    align-items: start;
    max-width: 1200px;
    margin-top: var(--XL-);
  

   
  }

  /* VENSTRE SIDE */

.frameAndImg {
  grid-area: image;
  position: relative;
  width: 420px;
  height: 420px;
  margin-top: 0;
  justify-self: start;
  
}

.frame {
  position: absolute;
  width: 386.66px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

  .applepay {
    position: absolute;
    width: 303px;
    top: 45
%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  /* HØJRE SIDE */

  .section3 .h1 {
    grid-area: title;
  }

  .section3 .p {
    grid-area: text;
    max-width: 600px;
  }

  .knap_raev {
    grid-area: button;
    display: flex;
    align-items: center;
    gap: 260px;
    margin-top:var( --L-);
    margin-bottom: var( --L-);
  }

  .knap_raev img {
    width: 90px;
    transform: translateY(0px);
  }

  /* ---------- SECTION 1 ---------- */

  .section_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--S-);
  align-items: start;
  max-width: 1200px;
  margin-top: var(--L-);
}

/* VENSTRE SIDE */

.section_1 .h1 {
  grid-column: 1;
  grid-row: 1;
}

.section_1 .p {
  grid-column: 1;
  grid-row: 2;
  max-width: 600px;
}

.graes {
  grid-column: 1;
  grid-row: 3;

  justify-self: end;
  max-width: 20px;

  transform: translateX(-90px);
}

/* HØJRE SIDE */

.imgOgBi {
  grid-column: 2;
  grid-row: 1 / span 3;

  position: relative;
  justify-self: end;

  width: 100%;
  height: 90%;

  top: -80px;
  rotate: -20deg;
}

.cardfane{
  rotate: 20deg;

}
    
}
</style>

