---
import { Image } from "astro:assets";
import sunriseImage from "../Image/sunrise.webp";
--- 
<section class="filter-section">

<div class="img-filtering">
<Image src={sunriseImage} fetchpriority="high" loading="eager" alt="Sunrise by lake" class="sunriseimg"/>
<img src="/assets/SVG/filtrering_desktop/bi_filtrering_desktop.svg" fetchpriority="high" alt="bee svg" class="beesvg">
</div>
<div class="text-filtering">
<h1 class="h1"> En øre til naturen,<br>når du betaler med Dankort</h1>
<p class="p"> Et nyt, stort samarbejde mellem Dankort og Den Danske Naturfond betyder, at der går 1 øre til mere natur hver gang, du bruger dit Dankort. Det giver mange millioner kroner ekstra til naturen de kommende år.</p>
<p class="p">De første naturarealer er allerede sikret. Mere plads til naturen er vigtig for at vende klima- og biodiversitetskrisen og skabe en grønnere og rigere fremtid for kommende generationer i Danmark.</p></div></section>

<style>

.beesvg {
    display:none;
}

section {
       margin-top: var(--M-);
        margin: 0 var(--S-);
}

p {
  margin-bottom: var(--S-);
}

.sunriseimg {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: var(--XS-);
    margin-bottom: var(--M-);
  }


         @media (min-width: 800px) {

            .filter-section {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0 120px;
                margin-top: var(--XL-);
                gap: var(--XXL-);
                position: relative;
                z-index: 2;
            }

            .img-filtering {
                position: relative;
                grid-column: 2/3;
                grid-row: 1/3;
            }

            .text-filtering {
                max-width: 60ch;
                z-index:1;

                
            }

            .sunriseimg {
                 width: 100%;
                 object-fit:cover;
                 position: relative;
                z-index: 2;
            }

            .beesvg {
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 170%;
                 transform: translate(-30%, 60%);
                 z-index: 1;
                 display: block;

            }

            
        }
        
</style>