---

---

<div class="partneretekst">
  <h2 class="h2">Partnere</h2>
  <p class="p">
    Som del af initiativet har Dankort indgået samarbejdsaftaler med et stadig
    voksende antal af Danmarks banker og butikker.
  </p>
  <ul class="partnerliste">
    <li class="p">
      Partnerbankerne donerer 1 øre pr. gennemført betaling, hvis Dankortet er
      udstedt af den pågældende bank.
    </li>
    <li class="p">
      Partnerbutikkerne donerer 1 øre pr. gennemført betaling med Dankort i
      deres fysiske forretninger, selvbetjeningsløsninger eller webshop.
    </li>
  </ul>
  <p class="p">
    Det betyder altså, at der kan doneres op til 3 øre når du bruger dit
    Dankort. 1 øre fra Dankort, 1 øre fra din bank og 1 øre fra dem du handler
    hos.
  </p>
  <p class="p">
    Hvis betalingen foregår i en butik der ikke er partner, med et kort fra en
    bank der ikke er partner, så donerer Dankort stadig 1 øre.
  </p>
</div>
<div>
  <img
    class="enplusenmobil"
    src="assets/SVG/clickable_mobil/1plus1_counting_mobil.svg"
    alt="partnerbreakdown"
  />
  <img
    class="enplusendesktop"
    src="assets/SVG/clickable_desktop/1plus1_counting_desktop.svg"
    alt="partnerbreakdowndesktop"
  />
</div>

<style>
  .partnerliste {
    padding-left: var(--S-);
  }

  p {
    margin-bottom: var(--XS-);
  }

  .enplusenmobil {
    display: block;
    margin: var(--S-) auto;
  }

  .enplusendesktop {
    display: none;
  }

  @media (min-width: 800px) {
    .enplusenmobil {
      display: none;
    }

    .enplusendesktop {
      display: block;
      margin: var(--L-) auto;
    }
  }
</style>
