---
const slides = [
  "assets/img/counting/field.webp",
  "assets/img/counting/sunrise.webp",
  "assets/img/counting/frog.webp",
  "assets/img/counting/deer.webp",
  "assets/img/counting/squirrel.webp",
];
---

<div class="section1">
  <div>
    <div class="slideshow">
      {slides.map((src) => <img src={src} alt="slideshow" class="slide" />)}
    </div>
  </div>
  <div>
    <div class="grid_graes">
      <h1 class="h1">Om Dankort Øremærket</h1>
      <img
        class="graes"
        src="assets/SVG/clickable_mobil/graes_counting_mobil.svg"
        alt="græs illustration"
      />
    </div>
    <div>
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
        ex sapien vitae pellentesque sem placerat. In id cursus mi pretium
        tellus duis convallis. Lorem ipsum dolor sit amet consectetur adipiscing
        elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id
        cursus mi pretium tellus duis convallis.
      </p>
    </div>
  </div>
</div>

<style>
  .grid_graes {
    display: flex;
  }

  .graes {
    position: absolute;
    right: var(--S-);
  }

  /* SLIDESHOW CSS */

  .slideshow {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: var(--S-);
    margin-bottom: var(--S-);
  }

  .slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 12s infinite;
  }

  /* stagger animation timing */
  .slide:nth-child(1) {
    animation-delay: 0s;
  }

  .slide:nth-child(2) {
    animation-delay: 4s;
  }

  .slide:nth-child(3) {
    animation-delay: 8s;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    8% {
      opacity: 1;
    }

    30% {
      opacity: 1;
    }

    38% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @media (min-width: 800px) {
    .section1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .section1 {
    margin-bottom: var(--L-);
  }
</style>
