---
//@ts-nocheck
import '@fontsource-variable/raleway/wght.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <meta name="description" content="Dankort Øremærket" />
 <link rel="icon" type="image/svg+xml" href="/favicon_48x55.svg" />
<link rel="icon" href="/favicon_48x55.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Øremærket</title>
  </head>
    <body>
  <Header />
    <main>
      <slot />
    </main>
  <Footer />
    </body>
</html>
